{
  "env": {
    "commonjs": {
      "presets": [ "es2015" ],
      "plugins": [
        "add-module-exports",
        "transform-es2015-modules-commonjs"
      ]
    },
    "es": {
      "presets": [ "es2015-rollup" ],
      "plugins": [
        "./build/use-es"
      ]
    }
  }
}
